body {
  background-image: url("background.png");
  font-family: Arial, sans-serif;
}

h1 {
  color: #581845;
  margin-left: 20px;
  text-align: center;
}

h2 {
  color: #581845;
  margin-left: 20px;
  text-align: center;
}

h3{
  color: #581845;
  margin-left: 20px;
  text-align: center;
}

p {
  color: #581845;
  text-align: center;
  marglin-left: 20px;
}

a:link, a:visited {
  color: #900C3F;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: #900C3F;
  color: #ece2c4;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  
}
